/website/node_modules
/website/.env.local
/website/.umirc.local.ts
/website/config/config.local.ts
/website/src/.umi
/website/src/.umi-production
/website/src/.umi-test
/website/.umi
/website/.umi-production
/website/.umi-test
/website/dist
/website/.mfsu
/website/.swc



/packages/**/target
/packages/**/**/*.rs.bk
/packages/**/Cargo.lock
/packages/**/bin/
/packages/**/pkg/
/packages/**/wasm-pack.log
